extends layout

block content
	h1 #{title}
	#wrapper
	
	div(id="choose")
		a(href="/choose/fileupload")
			button Upload a data file
		
		#wrapper	
		a(href="/choose/descriptionupload")
			button Upload the description file for the uploaded data file
		
		#wrapper
		a(href="/choose/frequencyupload")
			button Upload the frequency file for the uploaded data file
		
		#wrapper
		a(href="/choose/additionaluploads")
			button Add more information to the data file
	