extends layout

block content
	h1 #{title}
	
	p This site is for summerizing and viewing the information on the available instituitons from the IPEDS website.
	
	p Below shows how to use this website:
	
	ul
		li The 'Upload' selection will ask you to upload a series of files. The first three uploads must be done first before adding additional information.
		#wrapper
		li The 'View all Institutions' shows all the available institutions as well as their summerized information
		#wrapper
		li The 'Top 10 Institutions' show the top 10 institutions with the most number of students 