div(class="navigation_bar") 
	a(id="name", href="/") IPEDS Data Center
	
	ul
		li(class="group") 
			a(href="/choose") Upload
					
		li(class="group")
			a(href="/colleges") View All Institutions
		
		li(class="group")
			a(href="/chart") Top 10 Institutions